@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1E364A;
}

header img {
  max-width: 100px;
  margin-right: 24px;
}

header h1 {
  color: #BFCBC1;
}

nav {
  background-color: #1E364A;
  color: #BFCBC1;
  font-weight: bolder;
  -webkit-box-shadow: 0 5px 5px 0px gray;
          box-shadow: 0 5px 5px 0px gray;
  font-family: 'Libre Baskerville', serif;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #608EB6;
}

nav ul li:active {
  background-color: #8D9BE2;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.search {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: #BFCBC1;
  border-top: 1px solid #608EB6;
  border-bottom: 1px solid #608EB6;
  -webkit-box-shadow: 0 5px 5px 0px gray;
          box-shadow: 0 5px 5px 0px gray;
}

.search input {
  padding: 8px;
}

.search .searchWords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  font-size: 16px;
}

.search .searchWords input:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-right: 12px;
  font-size: 16px;
}

.search .searchWords input:nth-child(2) {
  font-size: 16px;
}

.search .searchOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .searchOptions input[type='checkbox'] {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.search .searchOptions label {
  width: 20%;
}

.pagination {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: #BFCBC1;
  border-top: 1px solid #608EB6;
  border-bottom: 1px solid #608EB6;
  -webkit-box-shadow: 0 5px 5px 0px gray;
          box-shadow: 0 5px 5px 0px gray;
  padding: 4px;
  font-size: 18px;
}

.pagination ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination ul li {
  padding: 8px;
  cursor: pointer;
}

.pagination ul li:hover {
  color: white;
}

.pagination ul li:active {
  color: #6C7B58;
}

.pagination .currentPage {
  color: red;
}

.search-card {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: #BFCBC1;
  border-top: 1px solid #608EB6;
  border-bottom: 1px solid #608EB6;
  -webkit-box-shadow: 0 5px 5px 0px gray;
          box-shadow: 0 5px 5px 0px gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr auto;
      grid-template-columns: .5fr 1fr auto;
}

.search-card h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: 0px;
}

.search-card img {
  width: 90%;
  max-width: 250px;
}

.search-card .book-details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto auto 1fr;
      grid-template-rows: auto auto auto 1fr;
  margin-top: 12px;
}

.search-card .book-details .detail-name {
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}

.book-card {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: #BFCBC1;
  border-top: 1px solid #608EB6;
  border-bottom: 1px solid #608EB6;
  -webkit-box-shadow: 0 5px 5px 0px gray;
          box-shadow: 0 5px 5px 0px gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto;
      grid-template-columns: 1fr 1fr auto;
}

.book-card h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.book-card img {
  width: 90%;
  max-width: 250px;
}

.book-card .book-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto 1fr;
  margin-top: 12px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.book-card p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.book-card .detail-name {
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}

.book-card .description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-top: 16px;
  margin-bottom: 16px;
}

.book-card button {
  padding: 4px;
}

.book-card .favorite {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.hide-me {
  display: none;
}

footer {
  background-color: #1E364A;
  color: white;
  padding: 16px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.favorite {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 1em 0;
}

.favorite svg {
  position: absolute;
  width: 30px;
  height: 30px;
}

.favorite svg .star-shape {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0.7);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.favorite.animate svg {
  -webkit-animation-name: star;
          animation-name: star;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.favorite.animate svg .star-shape {
  -webkit-animation-name: starColor;
          animation-name: starColor;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes star {
  0% {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
  }
  20% {
    left: -3px;
    top: -3px;
    width: 36px;
    height: 36px;
  }
  30% {
    left: 13px;
    top: 13px;
    width: 0px;
    height: 0px;
  }
  60% {
    left: 13px;
    top: 13px;
    width: 0px;
    height: 0px;
  }
  80% {
    left: -3px;
    top: -3px;
    width: 36px;
    height: 36px;
  }
  100% {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
  }
}

@keyframes star {
  0% {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
  }
  20% {
    left: -3px;
    top: -3px;
    width: 36px;
    height: 36px;
  }
  30% {
    left: 13px;
    top: 13px;
    width: 0px;
    height: 0px;
  }
  60% {
    left: 13px;
    top: 13px;
    width: 0px;
    height: 0px;
  }
  80% {
    left: -3px;
    top: -3px;
    width: 36px;
    height: 36px;
  }
  100% {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes starColor {
  0% {
  }
  20% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 0.7);
  }
  30% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 0.7);
  }
  60% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
  80% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
  100% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
}

@keyframes starColor {
  0% {
  }
  20% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 0.7);
  }
  30% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(0, 0, 0, 0.7);
  }
  60% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
  80% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
  100% {
    fill: #f5cb57;
    stroke: #d1ac46;
  }
}

@media screen and (min-width: 960px) {
  nav ul {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    width: 960px;
    min-width: 960px;
    max-width: 960px;
    margin: 0 auto;
  }
  .search {
    border: 1px solid #608EB6;
  }
  .search-card {
    border: 1px solid #608EB6;
  }
  .book-card {
    border: 1px solid #608EB6;
  }
  .pagination {
    border: 1px solid #608EB6;
  }
}
/*# sourceMappingURL=styles.css.map */