@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f4f4;  
}

h1 {
  text-align: center;
}

#container {
  position: relative;
  padding: 2rem;
  
}

#taskList {
  padding: 0;
  margin-bottom: 0;
  transition: all .5s ease;
  position: relative;

  .todo {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 18px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;

    align-items: center;
    
    height: 45px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;    
    transform-origin: 0% 0%;
    
    transform: scale(1, 1);
    transition: margin-bottom .333s ease-in-out, transform .333s ease-in-out;
  } 

  .todo.hidden {
    margin-bottom: -45px;
    transform: scale(1, 0);
  }

  .todo input[type=checkbox] {
    transform: scale(2);
    margin: 0 1rem 0 1rem;
  }
  
  .todo .remove-task {
    font-size: 24px;
    padding: auto .7rem;    
  }

  .todo .remove-task:hover {
    background-color: lightslategray;
  }

  .completed .task-detail{
    text-decoration-line: line-through;    
  }


}

.filter-bar {
  border: 1px solid black;  
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  
  span {
    padding: .5rem;
  }

  .filter-active {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: lightsteelblue;
  }
  .filter-active:nth-last-child(1) {    
    border-right: none;    
  }
}

.new-task {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 1rem;
  font-size: 18px;
  grid-column-gap: .5rem;
  #newTask {
    font-size: 18px;
  }

  #addTask{
    font-size: 24px;
    font-weight: bold;
    padding: .5rem 1rem;
    border: 1px solid black;
    
  }

  #addTask:hover {
    background-color: lightslategray;
  }
}


.btn {
  padding: .5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: lightslategray;
}


@media screen and (min-width: 601px){
  body {
    background-color: white;
    padding: 2rem;
  }

  #container {
    position: relative;
    padding: 2rem;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px 1px #222222;  
  }
  
}