@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$background: white;
$text: black;
$header-background: #1E364A;
$card-background: #BFCBC1;
$accent: #6C7B58;
$hover: #608EB6;
$active: #8D9BE2;


@mixin card() {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: $card-background;
  border-top: 1px solid $hover;
  border-bottom: 1px solid $hover;
  box-shadow: 0 5px 5px 0px gray;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%; 
} 

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

header {
  display:flex;
  background-color: $header-background;
  
  img {
    max-width: 100px;
    margin-right: 24px;
  }
  h1 {
    color: $card-background;
  }
}

nav {
  background-color: $header-background;
  color: $card-background;
  font-weight: bolder;
  box-shadow: 0 5px 5px 0px gray;
  font-family: 'Libre Baskerville', serif;
  ul{    
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li{
      padding: 0;
      flex-grow: 1;
      text-align: center;
      padding: 8px;
      cursor: pointer;
    }
    
    li:hover {
      background-color: $hover;
    }
    li:active {
      background-color: $active;
    }
  }
}

main {
  flex: 1 0 auto;
}

.search {
  @include card();

  input {
    padding:8px;
  }
  .searchWords {
    display:flex;     
    margin-bottom: 8px; 
    font-size: 16px;  
    input:nth-child(1) {
      flex-grow: 2;
      margin-right: 12px;
      font-size: 16px;
    }
    input:nth-child(2) {
      font-size: 16px;
    }
  }
  .searchOptions {
    display: flex;
    align-items: center;
    justify-content: center;   

    input[type='checkbox'] {
      width:32px;
      height:32px;
      margin-right: 12px;
    }
    label {     
      width: 20%;  
    }
  }  
}

.pagination {
  @include card();
  padding: 4px;
  font-size: 18px;
  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;    
    margin: 0;
    li{
      padding: 8px;
      cursor: pointer;      
    }
    li:hover {
      color: $background;
    }
    li:active {
      color: $accent;
    }
  }
  .currentPage {
    color: red;
  }
}

.search-card {
  @include card();

  display:grid;
  grid-template-columns: .5fr 1fr;

  h3{
    grid-column: 1/3;
    margin-top: 0px;
  }
  img{
    width: 90%;
    max-width: 250px;
  }
  .book-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    margin-top: 12px;
    .detail-name {
      font-weight: bold;
      margin-right: 8px;
      margin-bottom: 8px;
    }
    .detail-value {
      
    }
  }
}

.book-card {
  @include card();

  display:grid;
  grid-template-columns: 1fr 1fr;

  h3{
    grid-column: 1/3;
  }
  img{
    width: 90%;
    max-width: 250px;
  }
  .book-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    margin-top: 12px;
    .detail-name {
      font-weight: bold;
      margin-right: 8px;
      margin-bottom: 8px;
    }
    .detail-value {
      
    }
  }
  p {
    grid-column: 1/3;
  }
}

.hide-me {
  display:none;
}

footer {
  background-color: $header-background;
  color: $background;
  padding: 16px;
  text-align: center;
  flex-shrink: 0;
}