@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$background: white;
$text: black;
$header-background: #1E364A;
$card-background: #BFCBC1;
$accent: #6C7B58;
$hover: #608EB6;
$active: #8D9BE2;
$yellow: #F5CB57;


$star-size: 32px;
$star-size-min: 0px;
$star-size-max: 40px;
$star-offset: 0px;
$star-offset-min: 14px;
$star-offset-max: -4px;


@mixin card() {
  margin: 8px 0 12px 0;
  padding: 16px;
  background-color: $card-background;
  border-top: 1px solid $hover;
  border-bottom: 1px solid $hover;
  box-shadow: 0 5px 5px 0px gray;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%; 
} 

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  text-align: center;
}

header {
  display:flex;
  background-color: $header-background;
  
  img {
    max-width: 100px;
    margin-right: 24px;
  }
  h1 {
    color: $card-background;
  }
}

nav {
  background-color: $header-background;
  color: $card-background;
  font-weight: bolder;
  box-shadow: 0 5px 5px 0px gray;
  font-family: 'Libre Baskerville', serif;
  ul{    
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li{
      padding: 0;
      flex-grow: 1;
      text-align: center;
      padding: 8px;
      cursor: pointer;
    }
    
    li:hover {
      background-color: $hover;
    }
    li:active {
      background-color: $active;
    }
  }
}

main {
  flex: 1 0 auto;
}

.search {
  @include card();

  input {
    padding:8px;
  }
  .searchWords {
    display:flex;     
    margin-bottom: 8px; 
    font-size: 16px;  
    input:nth-child(1) {
      flex-grow: 2;
      margin-right: 12px;
      font-size: 16px;
    }
    input:nth-child(2) {
      font-size: 16px;
    }
  }
  .searchOptions {
    display: flex;
    align-items: center;
    justify-content: center;   

    input[type='checkbox'] {
      width:32px;
      height:32px;
      margin-right: 12px;
    }
    label {     
      width: 20%;  
    }
  }  
}

.pagination {
  @include card();
  padding: 4px;
  font-size: 18px;
  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;    
    margin: 0;
    li{
      padding: 8px;
      cursor: pointer;      
    }
    li:hover {
      color: $background;
    }
    li:active {
      color: $accent;
    }
  }
  .currentPage {
    color: red;
  }
}

.search-card {
  @include card();
  display:grid;
  grid-template-columns: .5fr 1fr auto auto;

  h3{
    grid-column: 1/3;
    margin-top: 0px;
  }
  img{
    width: 90%;
    max-width: 250px;
  }
  .book-details {
    grid-column:2/5;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    margin-top: 12px;
    .detail-name {
      font-weight: bold;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  } 
}

.book-card {
  @include card();

  display:grid;
  grid-template-columns: 1fr 1fr auto auto;

  h3{
    grid-column: 1/3;
  }
  img{
    width: 90%;
    max-width: 250px;
  }
  .book-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto 1fr;
    margin-top: 12px;
    grid-column: 2/5;
  }

  p {
    grid-column: 1/3;
  }

  .detail-name {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .description{
    grid-column: 1/5;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  button {
    padding: 4px;
  }

  .favorite {
    grid-column: 4/5;
  }
}

.hide-me {
  display:none;
}

footer {
  background-color: $header-background;
  color: $background;
  padding: 16px;
  text-align: center;
  flex-shrink: 0;
}

.favorite {
  position: relative;  
  height: $star-size;
  width: $star-size;
  margin: .3em .6em;
  svg {
    position: absolute;
    width: $star-size;
    height: $star-size;  
    .star-shape {
      fill: rgba($text,0.0);
      stroke: rgba($text,0.7);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 5px;
    }
  }  
  .tooltip {
    visibility: hidden;
    position: absolute;
    top: $star-size;
    left: -14px;
  }
  
  &:hover .tooltip {
    visibility:visible;
  }
  
  &.animate {
    svg {
      animation-name: star;
      animation-duration: 600ms;
      .star-shape {
        animation-name: starColor;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
      }
    }
    
  }
}


@keyframes star {
  0% {
    left: $star-offset;
    top: $star-offset;
    width: $star-size;
    height: $star-size;
  } 
  20% {
    left: $star-offset-max;
    top: $star-offset-max;
    width: $star-size-max;
    height: $star-size-max;
  }
  30% {
    left: $star-offset-min;
    top: $star-offset-min;
    width: $star-size-min;
    height: $star-size-min;
  }
  60% {
    left: $star-offset-min;
    top: $star-offset-min;
    width: $star-size-min;
    height: $star-size-min;
  }
  80% {
    left: $star-offset-max;
    top: $star-offset-max;
    width: $star-size-max;
    height: $star-size-max;
  }
  100% {
    left: $star-offset;
    top: $star-offset;
    width: $star-size;
    height: $star-size;
  }
}

@keyframes starColor {
  0% {
    
  } 
  20% {
    fill: rgba($text,0.0);
    stroke: rgba($text,0.7);
  }
  30% {
    fill: rgba($text,0.0);
    stroke: rgba($text,0.7);
  }
  60% {
    fill: rgba(#F5CB57,1);
    stroke: rgba(#d1ac46,1);
  }
  80% {
    fill: rgba(#F5CB57,1);
    stroke: rgba(#d1ac46,1);
  }
  100% {
    fill: rgba(#F5CB57,1);
    stroke: rgba(#d1ac46,1);
  }
}


.book-not-read {
  position: relative;
  width: $star-size;
  height: $star-size;
  margin: .3em .6em;
  svg{
    width: $star-size;
    height: $star-size;  
    display: block;
    margin: 0 auto;
  }

  .tooltip {
    visibility: hidden;
    position: absolute;
    top: $star-size;
    left: -14px;
    white-space: nowrap;
  }
  
  &:hover .tooltip {
    visibility:visible;
  }
    
  .book-cover-top {
    fill:#FFF;
    stroke-width:2;
    stroke:#003f7f //#003f7f
  }
  .book-cover-bottom {
    fill:#003f7f;
  }
  .book-pages-bottom {
    fill:#fff;
  }
  .book-pages-side {
    fill: #e2e3e4;
  }

  .book-edges {
    fill:#FFF;
    stroke-width:2;
    stroke:#003f7f
  }
}

.book-read {
  position: relative;
  width: $star-size;
  height: $star-size;
  margin: .3em .6em;

  svg{
    width: $star-size;
    height: $star-size;  
    display: block;
  }

  .tooltip {
    visibility: hidden;
    position: absolute;
    top: $star-size;
    left: -14px;
    white-space: nowrap;
  }
  
  &:hover .tooltip {
    visibility:visible;
  }

  .book-cover-top {
    fill:#003f7f;
    stroke-width:2;
    stroke:#003f7f //#003f7f
  }
  .book-cover-bottom {
    fill:#e2e3e4;
  }
  .book-pages-bottom {
    fill:#fff;
  }
  .book-pages-side {
    fill: #e2e3e4;
  }
  .book-edges {
    fill:#00007f;
    stroke-width:2;
    stroke:#003f7f
  }
}


@media screen and (min-width:960px) {
  nav {
    ul {      
      max-width: 960px;
      margin: 0 auto;   
    }
  }
  main {
    width: 960px;
    min-width: 960px;
    max-width: 960px;
    margin: 0 auto;    
  }
  .search {
    border: 1px solid $hover;
  }
  .search-card {
    border: 1px solid $hover;
  }
  .book-card {
    border: 1px solid $hover;
  }
  .pagination {
    border: 1px solid $hover;
  }
}